@{
    var items = (List<Admin.Models.CasePlanCaseLog>)ViewBag.case_logs;
}
<style>
    @*style the drop down select entries - datatables*@
    .custom-select
    {
        height:30px!important;
        width:50px!important;
        margin-left:5px!important;
    }
    @*style the copy buttons- datatables*@
    .dt-buttons
    {
        margin-left:4px!important;
    }
</style>

<table id="dt" class="table tblsm">
    <thead>
        <tr>
            <th>Date</th>
            <th>Action Taken/Activity</th>
            <th>Outcome</th>
            <th>Attending Person</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td title="@item.Date?.ToString("yyyy-MM-dd")">@item.Date?.ToString("yyyy-MM-dd")</td>
                <td title="@item.ActionTakenActivity">@item.ActionTakenActivity</td>
                <td title="@item.Outcome">@item.Outcome</td>
                <td title="@item.AttendingPerson">@item.AttendingPerson</td>
            </tr>
        }
    </tbody>
</table>

<script>

    $('#dt').DataTable({
        select: true,
        responsive: true,
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    });


    function confirm_delete(id) {
        $.confirm({
            title: 'Information',
            type: "red",
            content: 'Delete this CaseReport?',
            buttons: {
                Yes: function () {
                    window.location = "../CaseReports/DeleteCaseReport/" + id;
                },
                No: function () {
                },

            }
        });

    }

</script>